<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">

  <head>
    <!-- General meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.indexing == false %}
      <meta name="robots" content="noindex">
    {% endif %}

    {% if page.collectionpage %}
      {% seo title=false %}

      {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
      <title>{% t {{collectiondata.title}} %} - {% t global.Name %}</title>
      <meta property="og:title" content="{% t collectiondata.title %}">
      <meta name="description" content="{{ collectiondata.description }}">
      <meta property="og:description" content="{{ collectiondata.description }}">
    {% else %}
      {% seo %}
    {% endif %}

    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>

    {% if site.css_inline == true %}
      {% include site-styles.html %}
    {% else %}
      <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
    {% endif %}

    {% if site.avatarurl %}{% include site-favicons.html %}{% endif %}

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <!-- Bootstrap grid only -->
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}

    <!-- For slider -->
    {% if page.url contains "products" %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
    <script async src="/assets/scripts/slider.js"></script>
    {% endif %}
  </head>

  <body id="layout" class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    {% include site-icons.svg %}

    {% include site-header.html %}

    {{ content }}

    {% include site-footer.html %}

    {% if site.service_worker != false %}{% include site-sw.html %}{% endif %}
  </body>

</html>
